@import url(https://fonts.google.com/specimen/Inter);

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.product-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.product-card {
    width: 300px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
}


@media only screen and (max-width: 767px) {
    .product-card {
        width: 100%; 
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
    }
}

@media only screen and (min-width: 1025px) {
    .product-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px;
    }
}